* {
  background: black;
  color: rgb(244, 247, 248);
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 5px;
}
body {
  color: #0b0f1a;
}
audio {
  width: 100%;
  box-shadow: 1px 1px 15px aqua;
  border-radius: 30px;
}
h1 {
  margin-top: 15px;
  color: rgb(145, 226, 253);
  align-content: center;
}
h2 {
  background-color: #2d313c;
  border-left: 5px solid #afa1f4;
  border-radius: 15px;
}
.box {
  padding: 18px;
  border-radius: 14px;
  background:
    linear-gradient(#0b0f1a, #0b0f1a) padding-box,
    linear-gradient(135deg, #00e5ff, #7b61ff, #ff4ecd) border-box;
  border: 3px solid transparent;
  margin-bottom: 20px;
}
b {
  -webkit-text-stroke: 1px #afa1f4;
}
del {
  background-color: rgb(242, 178, 230);
}
img,
video {
  box-shadow: 1px 1px 15px rgb(242, 178, 230);
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.h3 {
  font-family: sans-serif;
  box-shadow: 2px 2px 20px #afa1f4;
  border-radius: 15px;
  margin-bottom: 20px;
}
p {
}
